@charset "utf-8";
#h_content{
    width: 100%;
    height: 300px;
    background-image: url("../img/contents/head.svg");
    position: relative;
}
#h_content > *{
    left: 50%;
    position: absolute;
}
#h_content h1{
    width: 700px;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #35495D;
}
#h_content span{
    font-size: 0.5em;
}
#h_content h2{
    bottom: 8px;
    color: white;
    width: 500px;
}
.latest_q_wrap{
    position: relative;
    width: 682px;
}
.latest_q{
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 1px dotted #e2e3e4;
}
#content aside{
    width: 251px;
}
.latest_q_wrap ul{
    list-style-type: none;
    padding: 10px;
}
.latest_q_wrap li{
    border-top: 1px solid #ccc;
    margin-bottom: 10px;
    min-height: 65px;
    padding: 25px 0 0 0;
}
.latest_q_wrap li:last-child{
    border-bottom: 1px solid #ccc;
}
.title{
    font-size: 18px;
    clear: both;
}
.writer{
    font-size: 10px;
    display: block;
    text-align: right;
}