@charset "utf-8";
#h_content{
    width: 100%;
    height: 300px;
    background-image: url("../img/contents/head.svg");
    position: relative;
}
#h_content > *{
    left: 50%;
    position: absolute;
}
#h_content h1{
    width: 700px;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #35495D;
}
#h_content span{
    font-size: 0.5em;
}
#h_content h2{
    bottom: 8px;
    color: white;
    width: 500px;
}
#content{
    margin-top: 30px;
}